framework >= net40
source https://www.nuget.org/api/v2

nuget FAKE
nuget Suave
nuget DotLiquid 1.8.0
nuget Suave.DotLiquid
nuget FSharp.Formatting
nuget FSharp.Compiler.Tools
nuget FSharp.Compiler.Service
nuget Newtonsoft.Json