{% extends "page.html" %}
{% block head %}
  <title>{{ model.mainArticle.heading }} - TheGamma</title>
  
  <meta name="description" content="{{ model.mainArticle.heading }}" />
  <meta name="keywords" content="Rio 2016, Olympic medals, Visualization, Interactive Graphics, Data Journalism" />  
  <meta name="author" content="Tomas Petricek" />
  <meta name="application-name" content="The Gamma" />
  <meta name="copyright" content="The Gamma" />
  
  <meta property="og:title" content="{{ model.mainArticle.heading }}" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="http://rio2016.thegamma.net/{{ model.mainArticle.id }}" />
  <meta property="og:image" content="http://rio2016.thegamma.net/img/card.jpg" />
  <meta property="og:description" content="The article has been built using The Gamma project, which makes it easier to build reproducible, open and interactive data visualizations." />
  
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@thegamma_net">
  <meta name="twitter:title" content="{{ model.mainArticle.heading }}" />
  <meta name="twitter:image" content="http://rio2016.thegamma.net/img/card.jpg" />
  <meta name="twitter:description" content="The article has been built using The Gamma project, which makes it easier to build reproducible, open and interactive data visualizations." />
  
  <script type="application/ld+json">
  {
  	"@context": "http:\/\/schema.org",
  	"@type": "NewsArticle",
  	"name": "{{ model.mainArticle.heading }}",
  	"headline": "{{ model.mainArticle.heading }}",
  	"description": "The article has been built using The Gamma project, which makes it easier to build reproducible, open and interactive data visualizations.",
  	"url": "http://rio2016.thegamma.net/{{ model.mainArticle.id }}",
  	"dateCreated": "2016-08-08T00:00:00+00:00",
  	"datePublished": "2016-08-08T10:00:00+00:00",
  	"image": "http://rio2016.thegamma.net/img/rio.jpg",
  	"thumbnailUrl": "http://rio2016.thegamma.net/img/card.jpg",
  	"keywords": ["olympic", "games", "rio", "2016", "data", "medals"],
  	"inLanguage": "en-us",
  	"publisher": {
  		"@type": "Organization",
  		"name": "The Gamma",
  		"logo": "http://rio2016.thegamma.net/img/logo.png",
  		"sameAs": ["http://twitter.com/thegamma_net"],
  		"url": "http://thegamma.net"
  	}
  }  
  </script>  
{% endblock %}

{% block body %}
  <article id="{{ model.mainArticle.id | idEncode }}" class="primary">
    {% include "primary-article.html" item:model.mainArticle %}
  </article>
  
  
  <script>registerArticle("{{ model.mainArticle.id }}", true, true);</script>

  <section class="break">
    <div class="container">
      <div class="col-md-5 col-lg-5">
        <p>If you are interested in the project or you would like to collaborate on visualizing
          interesting data, drop us an email at <a href="mailto:tomas@tomasp.net">tomas@tomasp.net</a>,
          ping us on Twitter at <a href="https://twitter.com/thegamma_net">@thegamma_net</a>. All source
          code is available under <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a>
          license on <a href="https://github.com/the-gamma">GitHub</a>. 
        </p>
      </div>
      <div class="col-md-4 col-lg-5">
        <p class="hidden-sm hidden-xs">Get the latest news, we will not spam you!</p>
        <form action="https://docs.google.com/forms/d/1QhOoo9g6M6WhtZcMxOcURH1pQLpLLVIuTN1omvJLbWA/formResponse" 
            method="POST" id="ss-form" target="_self" onsubmit="" class="form-inline">
          <input placeholder="hello@thegamma.net" type="text" name="entry.902762028" value="" 
            style="width:100%;" class="form-control ss-q-short" id="entry_902762028" dir="auto" aria-label="Email" title="">
          <input style="margin-top:5px;width:100%;" type="submit" name="submit" class="btn btn-success" value="Sign up" id="ss-submit">
          <input type="hidden" name="draftResponse" value="[,,&quot;-2799700618843047135&quot;]">
          <input type="hidden" name="pageHistory" value="0">
          <input type="hidden" name="fvv" value="0">
          <input type="hidden" name="fbzx" value="-2799700618843047135">
        </form>
      </div>
      <div class="col-md-3 col-lg-2  hidden-xs hidden-sm" style="text-align:center;">
        <img src="/img/logo.png" style="width:100px;" />
      </div>
    </div>
  </section>
  
  {% for it in model.moreArticles limit:1 %}
  <article id="{{ it.id | idEncode }}">
     {% include "secondary-article.html" item:it %}
  </article>
  <script>registerArticle("{{ it.id }}", true, false);</script>
  {% endfor %}
  
  {% for it in model.moreArticles offset:1 %}
  <article id="{{ it.id | idEncode }}" style="display:none;">
    {% include "secondary-article.html" item:it %}
  </article>
  <script>registerArticle("{{ it.id }}", false, false);</script>
  {% endfor %}
{% endblock %}
