<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
  <meta name=viewport content="width=device-width, initial-scale=1">

  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
  <link href="lib/bootstrap.min.css" rel="stylesheet">
  <link href="lib/chosen.min.css" rel="stylesheet">
  <link href="custom/style.css" rel="stylesheet">
  
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <meta name="theme-color" content="#F4C300">    
  <script type="text/javascript" src="custom/common.js"></script>
  
  {% block head %} 
  {% endblock %}  
</head>
<body>

  <header>
    <div class="container">
      <div class="content">
        <img src="img/olympic.png" />
        <a href="/">
         <h1><span>Visualizing Olympic Medalists</span></h1>    
         <h2><span>Experiment in Tooling for Data-Driven Storytelling</span></h2>
       </a>
      </div>
    </div>
  </header>

  {% block body %} 
  {% endblock %}
  <footer>
    <div class="container">
      <div class="hidden-xs col-sm-4 col-md-3" style="text-align:center;">
        <h1>The Gamma</h1>        
      </div>
    </div>
    <div class="container">
      <div class="col-sm-3 hidden-xs" style="text-align:center;">
        <img src="/img/logo.png" style="width:100px;" />
      </div>
      <div class="col-sm-5 text">
        <p>For more information about The Gamma and related projects, follow us
          at <a href="http://twitter.com/thegamma_net">@thegamma_net</a>. If you want to speak
          to us, contact <a href="http://tomasp.net">Tomas Petricek</a> at 
          <a href="mailto:tomas@tomasp.net">tomas@tomasp.net</a>.
        </p>
        <p>
          All source code is licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a>
          and is available on <a href="http://github.com/the-gamma">GitHub</a>. If you have an interesting
          project idea, do get in touch!
        </p>
      </div>
      <div class="col-sm-4 text">
        <p>To receive the latest news enter your email below. We will not spam you.</p>
        <form action="https://docs.google.com/forms/d/1QhOoo9g6M6WhtZcMxOcURH1pQLpLLVIuTN1omvJLbWA/formResponse" 
            method="POST" id="ss-form" target="_self" onsubmit="" class="form-inline">
          <input placeholder="hello@thegamma.net" type="text" name="entry.902762028" value="" 
            style="width:100%;" class="form-control ss-q-short" id="entry_902762028" dir="auto" aria-label="Email" title="">
          <input style="margin-top:5px;width:100%;" type="submit" name="submit" class="btn btn-success" value="Sign up" id="ss-submit">
          <input type="hidden" name="draftResponse" value="[,,&quot;-2799700618843047135&quot;]">
          <input type="hidden" name="pageHistory" value="0">
          <input type="hidden" name="fvv" value="0">
          <input type="hidden" name="fbzx" value="-2799700618843047135">
        </form>
      </div>
    </div>    
  </footer>
   
  <!-- Third-party standard references -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/1.5.3/numeral.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.6.15/browser-polyfill.min.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.4.js" 
    integrity="sha256-siFczlgw4jULnUICcdm9gjQPZkw/YPDqhQ9+nAOScE4=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
    integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script src="lib/chosen.jquery.min.js"></script>

  <!-- More fancy libraries -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>

  <!-- Loading Monaco and TheGamma scripts -->
  <script src="lib/babel.min.js"></script>
  <script src="lib/require.js"></script>
  <script>
    require.config({
        baseUrl: '.',
        paths: { 
          {% if model.debug == "true" %}
            'core-js': 'lib/dev/core.min',          // Debug: only needed when loading 'ext/js/main/main'
            'fable-core': 'lib/dev/fable-core.min', // Debug: Only needed when loading 'ext/js/main/main'
          {% endif %}
          'vs': 'lib/vs' 
        },
        map: { "*": { "monaco": "vs/editor/editor.main" }}
    });
    require(['monaco'], function () {
      {% if model.debug == "true" %}
        // Debug: load individual source files instead of WebPacked version
        require(["ext/js/main/main"]);
      {% else %}
        require(["ext/thegamma-script"]);
      {% endif %}
    });
  </script>

  <!-- More fancy libraries -->
  <script src="lib/datamaps.world.min.js"></script>
  <script type="text/javascript" src="//www.google.com/jsapi"></script>
  <script type="text/javascript" src="custom/charts.js"></script>
</body>
</html>
