<div class="container">
  <div class="col-sm-3 col-md-2 col-lg-2 socialbox">
    <h4>Share</h4>
    <p class="share">
      <a target="_blank" href="https://twitter.com/intent/tweet?url={{ "http://rio2016.thegamma.net" | urlEncode }}&text={{ "Visualizing Olympic Medalists: Experiment in Tooling for Data-Driven Storytelling via @thegamma_net" | urlEncode }}">
        <i class="fa fa-twitter-square"></i></a>
      <a target="_blank" href="https://www.facebook.com/sharer.php?u={{ "http://rio2016.thegamma.net" | urlEncode }}">
        <i class="fa fa-facebook-official"></i></a>
      <a href="http://www.reddit.com/submit?url={{ "http://rio2016.thegamma.net" | urlEncode }}&title={{ "Visualizing Olympic Medalists: Experiment in Tooling for Data-Driven Storytelling" | urlEncode }}">
        <i class="fa fa-reddit-square"></i></a>
      <a href="mailto:?subject={{ "Visualizing Olympic Medalists" | mailEncode }}&body={{ "Experiment in Tooling for Data-Driven Storytelling: http://rio2016.thegamma.net" | mailEncode }}">
        <i class="fa fa-envelope"></i></a>
    </p>

    <h4>Author</h4>
    <p class="info">Tomas Petricek<span class="sxs">, <a href="http://twitter.com/tomaspetricek">@tomaspetricek</a></span></p>
    <p class="hxs"><a href="http://twitter.com/tomaspetricek">@tomaspetricek</a></p>
    <p class="hxs"><a href="mailto:tomas@tomasp.net">tomas@tomasp.net</a></p>        
  </div>
  <div class="col-sm-9 col-md-8 col-lg-7">
    <h1><a href="/{{ item.id }}">{{ item.heading }}</a></h1>
    {{ item.before }}
  </div>
  <div class="col-lg-4"></div>
</div>

{% if item.plaintext == "false" %}
<div class="container">
  <div class="col-lg-2"></div>
  <div class="col-lg-10">
    <div class="ia-figure {{ item.id }}" data-article="{{ item.id }}">
      <p class="tools tools-right">
        <a class="ia-show-options" href="javascript:;"><i class="fa fa-pencil-square-o"></i> options</a>
        <a class="ia-show-source" href="javascript:;"><i class="fa fa-code"></i> source</a>
      </p>
      <p class="tools tools-left">
        <a class="ia-share" href="javascript:;" style="display:none"><i class="fa fa-share-alt"></i> share</a>
        <a class="ia-run" href="javascript:;" style="display:none"><i class="fa fa-refresh"></i> refresh</a>
      </p>
      <script class="ia-source" type="text/thegamma">{{ item.code }}</script>
      {% if item.compiled != "" %}
      <script class="ia-compiled" type="text/thegamma-compiled">{{ item.compiled }}</script>
      {% endif %}
      <div class="ia-options" style="display:none">
        <div class="loading">
          <p>Loading content, please wait...</p>
          <div class="spinner" id="sp{{ item.id }}a"></div>
          <script>startSpinning('sp{{ item.id }}a');</script>
        </div>
      </div>
      <div class="ia-editor" style="display:none">
        <h3>Edit source</h3>
        <p>The following is the source code behind the visualization. You can change it and hit 'refresh' to run your new version.
          When you type <code>.</code> after a name or a quoted name, you will get hint with possible options to choose from!</p>
        <div id="ed{{ item.id }}" class="ia-monaco"></div>
      </div>
      <div class="ia-errors"></div>
      <div id="out{{ item.id }}" class="ia-output">
        <div class="loading">
          <p>Loading content, please wait...</p>
          <div class="spinner" id="sp{{ item.id }}b"></div>
          <script>startSpinning('sp{{ item.id }}b');</script>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}

<div class="container">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      {{ item.after }}
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>
