<div class="container">
  <div class="col-lg-2"></div>
  <div class="col-lg-6">
    <h1><a href="/{{ item.id }}">{{ item.heading }}</a></h1>
    {% if item.author != "" %}
      <p style="font-style:italic">Shared by {{ item.author }}{% if item.twitter != "" %},
        <a href="http://twitter.com/{{ item.twitter }}">@{{ item.twitter }}</a>{% endif %}</p>      
    {% endif %}    
    {{ item.before }}
  </div>
  <div class="col-lg-4"></div>
</div>

{% if item.plaintext == "false" %}
<div class="container">
  <div class="col-lg-2"></div>
  <div class="col-lg-10">
    <div class="ia-figure {{ item.id | idEncode }}" data-article="{{ item.id | idEncode }}">
      <p class="tools tools-right">
        <a class="ia-show-options" href="javascript:;"><i class="fa fa-pencil-square-o"></i> <span>options</span></a>
        <a class="ia-show-source" href="javascript:;"><i class="fa fa-code"></i> <span>source</span></a>
      </p>
      <p class="tools tools-left">
        <a class="ia-share" href="javascript:;" style="display:none"><i class="fa fa-share-alt"></i> <span>share</span></a>
        <a class="ia-run" href="javascript:;" style="display:none"><i class="fa fa-refresh"></i> <span>refresh</span></a>
      </p>
      <script class="ia-source" type="text/thegamma">{{ item.code }}</script>
      {% if item.compiled != "" %}
      <script class="ia-compiled" type="text/thegamma-compiled">{{ item.compiled }}</script>
      {% endif %}
      <div class="ia-options" style="display:none">
        <div class="loading">
          <p>Loading content, please wait...</p>
          <div class="spinner" id="sp{{ item.id | idEncode }}a"></div>
          <script>startSpinning('sp{{ item.id | idEncode }}a');</script>
        </div>
      </div>
      <div class="ia-editor" style="display:none">
        <h3>Edit source</h3>
        <p>The following is the source code behind the visualization. You can change it and hit 'refresh' to run your new version.
          When you type <code>.</code> after a name or a quoted name, you will get hint with possible options to choose from!</p>
        <div id="ed{{ item.id | idEncode }}" class="ia-monaco"></div>
      </div>
      <div class="ia-errors"></div>
      <div id="out{{ item.id | idEncode }}" class="ia-output">
        <div class="loading">
          <p>Loading content, please wait...</p>
          <div class="spinner" id="sp{{ item.id | idEncode }}b"></div>
          <script>startSpinning('sp{{ item.id | idEncode }}b');</script>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}

<div class="container">
  <div class="col-lg-2"></div>
  <div class="col-lg-6">
    {{ item.after }}
  </div>
  <div class="col-lg-4"></div>
</div>
